<div id="groupOperator">
    <div class="row" style="padding:0 1%;">
        <button class="btn btn-sm purple right radius6" @click="returnBack"><i
                class="fa fa-mail-reply"></i>返回上一级</button>
        <div class="group">
            <label>群组名称:</label>
            <input type="text" name="groupName" class="form-control inline" style="width:300px;" v-model="groupName">
        </div>
        <div class="group">
            <label>组长:</label>
            <input type="text" name="groupCreator" class="form-control inline" style="width:300px;"
                v-model="groupCreator" readonly>
        </div>
        <div class="group" style="border-bottom:none;padding-bottom:0;">
            <label>群组成员选择:</label>
            <select name="doctorName" id="doctorName" class="form-control inline"
                style="width:240px; vertical-align: middle;" v-model="doctorName">
                <option value="">-- 请选择 --</option>
                <template v-for="(item,index) in doctorinfo">
                    <option :value="item.doctorName" v-if="item.doctorName!=groupCreator">{{item.doctorName}}</option>
                </template>

            </select>
            <button class="btn btn-sm btn-primary" @click="joinGroup">加入群成员</button>
        </div>
        <div class="group">
            <label>现有群成员:</label>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>医师姓名</th>
                        <th>角色</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="doctorInGroup.length>0">
                        <tr v-for="(item,index) in doctorInGroup" :key="index">
                            <td>{{item.doctorName}}</td>
                            <td>
                                <select class="form-control inline" :disabled="item.doctorName==groupCreator"
                                    style="width:240px;" ref="roleId" :value="item.roleId||'16'"
                                    @change="addDoctorInfoRoleId(index,item)">
                                    <option v-for="(role,index) in roleList" :key="index" :value="role.id">
                                        {{role.roleName}}</option>
                                </select>
                            </td>
                            <td><button class="btn btn-sm btn-danger" @click="removeCurrentItem(doctorInGroup,index)"
                                    v-if="item.doctorName!=groupCreator">移除</button></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="3" class="text-primary" style="text-align: center;">请添加群成员</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="group">
            <label>群的主要功能描述信息:</label><br>
            <textarea name="description" id="description" style="resize:none;" class="form-control" rows="5"
                v-model="description"></textarea>
        </div>
        <div class="group">
            <label>群组中的报告集</label> <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"
                @click="getAllCheckList">添加报告</button>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>肌电图号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="reportList.length>0">
                        <tr v-for="(item,index) in reportList" :key="index">
                            <td>{{parseInt(index)+1}}</td>
                            <td>
                                {{item.emgNo}}
                            </td>
                            <td><button class="btn btn-sm btn-danger"
                                    @click="removeCurrentItem(reportList,index)">移除</button></td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="3" class="text-primary" style="text-align: center;">请添加报告</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="group" style="border-bottom:none;">
            <button class="btn  btn-success" @click="saveDataToStore">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button
                class="btn  btn-default" @click="returnBack">取消</button>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加报告</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>肌电图号</th>
                                    <th>医师姓名</th>
                                    <th>医院名称</th>
                                    <th>患者名称</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="totalReportList.length>0">
                                    <tr v-for="(item,index) in totalReportList" :key="index">
                                        <td>
                                            <label><input v-model="signalChoose" type="checkbox" :value="item.emgNo"
                                                    name="chooseItem"
                                                    style="vertical-align:top;">{{parseInt(index)+1}}</label>
                                        </td>
                                        <td>
                                            {{item.emgNo||'-'}}
                                        </td>
                                        <td>
                                            {{item.doctorNameOperate||'-'}}
                                        </td>
                                        <td>
                                            {{item.institutionName||'-'}}
                                        </td>
                                        <td>
                                            {{item.patientName||'-'}}
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="5" class="text-primary" style="text-align: center;">请求报告出错了</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <div class="clearfix">
                            <div class="pages-number" style="padding:0;">
                                <div class="pagination pull-left">
                                    <span>{{total}}条记录,共{{pages}}页</span>
                                </div>
                                <div id="pageLimit" class="pagination pull-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" @click="chooseOver" class="btn btn-primary">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#groupOperator',
        data() {
            return {
                doctorinfo: [],
                doctorName: '',
                doctorInGroup: [],
                roleList: [],
                reportList: [],
                totalReportList: [],
                groupName: '',
                roleId: '16',
                description: '',
                groupCreator: '',
                reportPageIndex: 1,
                reportPageSize: 5,
                total: 0,
                pages: 0,
                navigatePages: 5,
                signalChoose: [],
                createDoctorId: 0,
                groupNo: '',
                /* pageIndex:1,
                pageSize:10, */
                id: 0,
                reportTotalList: []
            }
        },
        watch: {
            totalReportList(val) {
                this.$nextTick(() => {
                    this.buildPaginator()
                })
            },
            signalChoose(val) {
                this.reportList=[]
                val.forEach((item, index) => {
                    Shinez.get(
                        `/check/data?pageIndex=1&pageSize=1&emgNo=${item}`,
                        (
                            ret) => {
                            if (ret.code == 0) {
                                this.reportList.push(ret.data.page.list[0])
                            } else {
                                Shinez.tip('error', `获取报告集出错${ret.msg}`)
                            }
                        })
                })
            },
        },
        methods: {
            getAllDoctorInfo() {
                Shinez.get('/basic/allDoctor', (ret) => {
                    if (ret) {
                        this.doctorinfo = ret;
                    } else {
                        Shinez.tip('error', '没有获取到医师的信息')
                    }
                })
            },
            //获取用户角色
            getRoleName() {
                Shinez.get('/main/sys-user', (ret) => {
                    if (ret.code == 0) {
                        this.roleList = ret.data.roles;
                    } else {
                        Shinez.tip('error', '用户角色获取失败')
                    }
                })
            },
            //在doctorInforList中加入RoleId的制度
            addDoctorInfoRoleId(index, item) {
                this.doctorInGroup[index].roleId = this.$refs.roleId[index].value
            },
            //加入群
            joinGroup() {
                let joinMan = this.doctorName;
                this.doctorName = ''
                if (!JSON.stringify(this.doctorInGroup).includes(joinMan) && joinMan != '') {
                    this.doctorInGroup.push({
                        'doctorName': joinMan,
                        'roleId': this.roleId
                    })
                }
            },
            //返回上一级
            returnBack() {
                let loadHtmlName = '/settings/grouplist'
                let state = {}
                state["html"] = loadHtmlName;
                state["params"] = history.state.params;;
                if (location.pathname != sRootName) {
                    location.href = sRootName + "#" + loadHtmlName;;
                    return;
                }
                history.pushState(state, null, null);
                loadHtml(loadHtmlName)
            },
            //移除当前项
            removeCurrentItem(arr, index) {
                arr.splice(index, 1)
            },
            //保存
            saveDataToStore() {
                const options = {}
                if (!this.doctorInGroup.length) {
                    Shinez.tip('error', '群组成员不能为空')
                } else if (!this.groupName) {
                    Shinez.tip('error', '群组的名称不能为空')
                } else if (!this.description) {
                    Shinez.tip('error', '群组的关键性描述不能为空')
                } else {
                    if (!this.reportList.length) {
                        Shinez.tip('warning', '群组的报告集为空')
                    }
                    let aDoctor = []
                    this.doctorInGroup.forEach((item, index) => {
                        this.doctorinfo.forEach((ocur, inum) => {
                            if (ocur.doctorName == item.doctorName) {
                                ocur.roleId = item.roleId
                                aDoctor.push(ocur)
                            }
                        })
                    })


                    options.groupName = this.groupName;
                    options.createDoctorId = this.createDoctorId;
                    options.doctorInfoList = aDoctor;
                    options.description = this.description;
                    options.checkdataInfoList = this.reportList
                    let params = {}
                    for (let attr in options) {
                        if (Object.prototype.toString.call(options[attr]) == '[object Array]') {
                            if (attr == 'checkdataInfoList') {
                                options[attr].forEach((item, index) => {
                                    params[`${attr}[${index}].id`] = item.id;

                                })
                            } else if (attr == 'doctorInfoList') {
                                options[attr].forEach((item, index) => {
                                    params[`${attr}[${index}].id`] = item.id;
                                    params[`${attr}[${index}].roleId`] = item.roleId;
                                })
                            }
                        } else {
                            params[attr] = options[attr]
                        }
                    }
                    if (this.groupNo) {
                        let newParam = Object.assign({}, params, {
                            'id': this.id
                        })
                        Shinez.put('/group', newParam, (ret) => {
                            if (ret.code == 0) {
                                Shinez.tip('success', '编辑成功')
                                setTimeout(() => {
                                    this.returnBack()
                                }, 100)

                                this.returnBack()
                            } else {
                                Shinez.tip('error', '编辑出错了:${ret.msg}')
                            }
                        })
                    } else {
                        Shinez.post('/group', params, (ret) => {
                            if (ret.code == 0) {
                                Shinez.tip('success', '添加成功')
                                setTimeout(() => {
                                    this.returnBack()
                                }, 100)
                            } else {
                                Shinez.tip('error', '增加群组出错了:${ret.msg}')
                            }
                        })
                    }
                }


            },
            //获取档期的组长
            getCurrentCreateCaptain() {
                //获取所有的有组长权限的id
                Shinez.get('/group/all', (ret) => {
                    if (ret) {
                        let aCaptain = []
                        ret.forEach((item, index) => {
                            let createId = item.createDoctorId;
                            item.doctorInfoList.forEach((doctor, inum) => {
                                if (doctor.id == createId) {
                                    aCaptain.push(doctor)
                                }
                            })
                        });
                        let result = aCaptain.find((item, index) => {
                            return item.institutionNo == JSON.parse(sessionStorage.doctorInfo)
                                .institutionNo
                        })
                        if (result) {
                            this.groupCreator = result.doctorName;
                            this.createDoctorId = result.id;
                            if(this.doctorInGroup.length==0){
                                this.doctorInGroup.push(result)
                            }
                        }
                    } else {
                        Shinez.tip('error', '获取组长信息错误')
                    }
                })
            },
            //添加报告集
            getAllCheckList() {
                $('#myModal').modal('show')
                Shinez.get(`/check/data?pageIndex=${this.reportPageIndex}&pageSize=${this.reportPageSize}`, (
                    ret) => {
                    if (ret.code == 0) {
                        this.totalReportList = ret.data.page.list;
                        this.pages = ret.data.page.pages
                        this.total = ret.data.page.total
                    } else {
                        Shinez.tip('error', `获取报告集出错${ret.msg}`)
                    }
                })
            },
            //加载分页
            buildPaginator() {
                if (this.pages) {
                    $('#pageLimit').show()
                    $('#pageLimit').bootstrapPaginator({
                        bootstrapMajorVersion: 3,
                        currentPage: this.reportPageIndex, //设置当前页码
                        numberOfPages: this.navigatePages,
                        totalPages: this.pages, //设置总页数.
                        itemTexts: (type, page, current) => {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "尾页";
                                case "page":
                                    return page;
                            }
                        },
                        onPageClicked: (event, originalEvent, type, page) => {
                            this.reportPageIndex = page
                            this.getAllCheckList()
                        }
                    });
                } else {
                    $('#pageLimit').hide()
                }
            },
            //确定选择项
            chooseOver() {
                $('#myModal').modal('hide')
            },
            //检查登录页面
            loadOperatorPage() {
                let Params = {}
                var queryStr = history.state.params;
                var paramArray = queryStr.split("&");
                var sItems;
                for (var i = 0; i < paramArray.length; i++) {
                    sItems = paramArray[i].split("=");
                    if (sItems[0]) {
                        Params[sItems[0]] = sItems[1];
                    }
                }
                if (Object.keys(Params).length > 0) {
                    this.groupNo = Params['groupNo']

                    if (this.groupNo) {
                        Shinez.get('/group', {
                            'pageIndex': 1,
                            'pageSize': 1,
                            'groupNo': this.groupNo
                        }, (ret) => {
                            if (ret.code == 0) {
                                if (ret.data.page.list.length > 0) {
                                    this.reportList = ret.data.page.list[0].checkdataInfoList;
                                    this.reportList.forEach((item, index) => {
                                        this.signalChoose.push(item.emgNo)
                                    })
                                    this.description = ret.data.page.list[0].description;
                                    this.doctorInGroup = ret.data.page.list[0].doctorInfoList
                                    this.groupName = ret.data.page.list[0].groupName;
                                    this.id = ret.data.page.list[0].id;
                                } else {
                                    Shinez.tip('warning', '查看的群组中没有相关数据信息')
                                }
                            } else {
                                Shinez.tip('error', `获取${groupNo}数据失败：${ret.msg}`)
                            }
                        })
                    }
                }
            }
        },
        mounted() {
            this.loadOperatorPage();
            this.getAllDoctorInfo()
            this.getRoleName();
            this.getCurrentCreateCaptain()
        }
    })
</script>