<div id="refer">
    <div class="row">
        <div class="top-handle-btn">
            <button type="button" class="hidden btn btn-default refresh-btn search" id="refresh-btn">
                <i class="fa fa-refresh"></i>
            </button>
            <select name="pageSize" class="form-control inline input-small" v-model="pageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <select name="programId" class="form-control input-small inline" v-model="programId">
                <option value="">--检查项目--</option>
                <template v-if="allProgram.length>0">
                    <option v-for="(item,index) in allProgram" :key="index" :value="item.id">{{item.description}}
                    </option>
                </template>
            </select>
            <select name="stimPointPositionId" v-model="stimPointPositionId" class="form-control input-small inline">
                <option value="">--刺激点--</option>
                <template v-if="allPointPosition.length>0">
                    <option v-for="(item,index) in allPointPosition" :key="index" :value="item.id">
                        {{item.pointPosition}}
                    </option>
                </template>
            </select>
            <select name="collectPointPositionId" v-model="collectPointPositionId"
                    class="form-control input-small inline">
                <option value="">--记录点--</option>
                <template v-if="allPointPosition.length>0">
                    <option v-for="(item,index) in allPointPosition" :key="index" :value="item.id">
                        {{item.pointPosition}}
                    </option>
                </template>
            </select>
            <select name="type" v-model="type" class="form-control input-small inline">
                <option value="">--参考值--</option>
                <option v-for="(item,index) in allTypeName" :key="index" :value="item.id">{{item.typeName}}</option>

                <!--<option value="0">潜伏期</option>
                <option value="1">波幅</option>
                <option value="2">速度</option>
                <option value="3" hidden>波宽</option>
                <option value="4" hidden>面积</option>
                <option value="5" hidden>距离</option>
                <option value="6" hidden>时间</option>
                <option value="7" hidden>潜伏期2</option>
                <option value="8" hidden>峰峰值</option>-->

            </select>
            <input type="text" v-model="nerveName" class="form-control input-small inline" name="nerveName"
                   placeholder="输入神经名称"/>
            <button @click="searchByCondition" class="btn purple right search"><i class="fa fa-search"></i> 查询</button>
            <a class='btn green calc-add' data-toggle='modal' href='#modal-add'><i class="fa fa-plus"></i> 添加</a>
        </div>
    </div>

    <div class="row">
        <div class="role-table">
            <div class="table-refer">
                <table id="data-table" class="table table-striped table-bordered table-hover refer-table" width="100%">
                    <thead>
                    <tr>
                        <th>医院名称</th>
                        <th>检查项目</th>
                        <th>神经名称</th>
                        <th>刺激点</th>
                        <th>记录点</th>
                        <th>年龄段</th>
                        <th>性别</th>
                        <th>均数</th>
                        <th>标准差</th>
                        <th>例数</th>
                        <th>参考类型</th>
                        <th>上限&gt;</th>
                        <th>下限&lt;</th>
                        <!-- <th>极值</th> -->
                        <!-- <th>浮动比例</th> -->
                        <th>启用</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="referList.length>0">
                        <tr v-for="(item,index) in referList" :key="index">
                            <td>{{item.institutionNo|turn2InstitutionName}}</td>
                            <td>{{item.programId|turn2ProgramName}}</td>
                            <td>{{item.nerveName||'-'}}</td>
                            <td>{{item.stimPointPositionName||'-'}}</td>
                            <td>{{item.collectPointPositionName||'-'}}</td>
                            <td>{{item.ageBegin}} - {{item.ageEnd}}</td>
                            <td :data-value="item.gender">{{item.gender|turn2Word}}</td>
                            <td>{{item.meanValue}}</td>
                            <td>{{item.standardDeviation}}</td>
                            <td>{{item.cases}}</td>
                            <td>{{item.type|turn2TypeName}}</td>
                            <td>{{item.upperLimit}}</td>
                            <td>{{item.lowerLimit}}</td>
                            <td v-html="$options.filters.turn2CurrentWord(item.isCurrent)"></td>
                            <td style="color: #333;font-size:18px;">
                                <span @click="editCurrentItem(item)" style="margin:0 5px; cursor:pointer;"><i
                                        class="fa fa-edit"></i></span>
                                <span @click="removeCurrentItem(item.id)" style="margin:0 5px; cursor:pointer;"><i
                                        class="fa fa-remove"></i></span>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="15" style="text-align:center;color:red;">没有查询到数据</td>
                        </tr>
                    </template>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="pages-number">
            <div class="pagination pull-left">
                <label>Pages<input
                        style="width: 50px;text-align: center;vertical-align: middle; margin-right:10px;margin-left:5px;"
                        type="number" min="1" :max="pages" :value="pageIndex"></label>
                <button class="btn btn-sm blue">GO</button>&nbsp;&nbsp;&nbsp;</span>共{{total}}条记录,共{{pages}}页</span>
            </div>
            <ul id="pageLimit" class="pagination pull-right"></ul>
        </div>
    </div>
    <div class="row">
        <modal-frame :allprogram="allProgram" :allinstitution="allInstitution" :allpointposition="allPointPosition"
                     :alltypename="allTypeName" :allpartinfo="allPartInfo" :allnerve="allNerve"></modal-frame>

        <modal-remove :id="id"></modal-remove>
    </div>
</div>

<script>
    var connect=new Vue();
    Vue.component('modalRemove', {
        template: `
        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">确定需要删除该条参考值吗？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="removeSure">确定</button>
                    </div>
                </div>
            </div>
        </div>
        `,
        props: ['id'],
        methods: {
            async removeSure() {
                try {
                    let ret = await Shinez.del(`/ruler/reference/${this.id}`)
                    if (ret.code != 0) {
                        Shinez.tip("error", `${ret.msg}`)
                    } else {
                        $('#delModal').modal('hide');
                        refer.getReferData()
                    }
                } catch (err) {
                    Shinez.tip('error', '删除当前项出错了')
                }
            }
        }
    })
    Vue.component('modalFrame', {
        template: `
       <div class="modal fade" id="modal-add" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog" style="width:680px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">添加参考值</h4>
                </div>
                <div class="modal-body">

                        <table class="table table-striped table-bordered " width="100%">
                            <tbody>
                            <tr>
                                <td colspan="6" class="text-info">参考值基本信息(<span
                                        class="required-star">*</span><span>标记表示必填项目</span>)</td>
                            </tr>
                            <tr>
                                <th class="col-sm-1 text-right">医院名称</th>
                                <td class="">
                                    <select v-model="institutionId" name="institutionId" disabled class="form-control pull-left must-fill-in"
                                         style="width:90%;" aria-readonly="true">
                                        <option value="">--医院--</option>
                                        <option v-for="(item,index) in allinstitution" :key="index" :value="item.id">{{item.institutionName}}</option>
                                    </select>


                                    <span class="required-star pull-right">*</span>
                                </td>
                                <th class="col-sm-1 text-right">检查项目</th>
                                <td class="">
                                    <select name="programId" v-model="programId" class="form-control  pull-left must-fill-in" style="width:90%;">
                                        <option value="">--检查项目--</option>
                                        <option v-for="(item,index) in allprogram" :key="index" :value="item.id">{{item.description}}</option>
                                    </select>
                                    <span class="required-star pull-right">*</span>
                                </td>
                                <th class="col-sm-1 text-right">神经名称</th>
                                <td class="">
                                    <select name="nerveId" v-model="nerveId" class="form-control  pull-left must-fill-in"
                                        style="width:90%">
                                        <option value="">--神经名称--</option>
                                        <option v-for="(item,index) in allnerve" :key="index" :value="item.id">{{item.nerveNameZh}}</option>
                                    </select>
                                    <span class="required-star pull-right">*</span>
                                </td>
                            </tr>
                            <tr>

                                <th class="col-sm-1 text-right">肢体部位</th>
                                <td class="">
                                    <select name="partId" v-model="partId" class="form-control  pull-left must-fill-in" style="width:90%;">
                                        <option value="">--肢体部位--</option>
                                        <option v-for="(item,index) in allpartinfo" :key="index" :value="item.id">{{item.partName}}</option>
                                    </select>
                                    <span class="required-star pull-right">*</span>
                                </td>
                                <th class="col-sm-1 text-right">参考值类型</th>
                                <td class="">
                                    <select name="type" v-model="type" class="form-control  pull-left must-fill-in" style="width:90%;">
                                        <option value="">--参考值--</option>
                                        <option v-for="(item,index) in alltypename" :key="index" :value="item.id">{{item.typeName}}</option>
                                    </select>
                                    <span class="required-star pull-right">*</span>
                                </td>
                                <td class="col-sm-1"></td>
                                <td class=""></td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-info">参考值筛选条件(<span>可以选填项目</span>)</td>
                            </tr>
                            <tr>
                                <th class=" text-right">记录点</th>
                                <td class="">
                                    <select v-model="collectPointPositionId" name="collectPointPositionId" class="form-control " style="width:90%;">
                                        <option value="">--记录点--</option>
                                        <option v-for="(item,index) in allpointposition" :key="index" :value="item.id">{{item.pointPosition}}</option>
                                    </select>
                                </td>
                                <th class="col-sm-1 text-right">刺激点</th>
                                <td class="">
                                    <select v-model="stimPointPositionId" name="stimPointPositionId" class="form-control" style="width:90%;">
                                        <option value="">--刺激点--</option>
                                        <option v-for="(item,index) in allpointposition" :key="index" :value="item.id">{{item.pointPosition}}</option>
                                    </select>
                                </td>
                                <th class="col-sm-1 text-right">年龄段</th>
                                <td class="">

                                    <input type="number" v-model="ageBegin"  name="ageBegin" class="form-control" style="width:40%; display:inline-block; padding-left:2px;" placeholder="0" min="0" max="99"> ~
                                    <input type="number" v-model="ageEnd"  name="ageEnd" class="form-control" style="width:40%; display:inline-block; padding-left:2px;" placeholder="99" min="0" max="99">
                                </td>
                            </tr>
                            <tr>

                                <th class="col-sm-1 text-right">性别</th>
                                <td class=" ">
                                    <select name="gender" v-model="gender" class="form-control " style="width:90%;">
                                        <option value="0">--性别--</option>
                                        <option value="2">女</option>
                                        <option value="1">男</option>
                                    </select>
                                </td>
                                <th class="col-sm-1 text-right">上限</th>
                                <td class="">
                                    <input type="number" class="form-control" name="upperLimit" v-model="upperLimit"
                                        placeholder="100" min="0" max="10000000" readonly style="width:90%;">
                                </td>
                                <th class="col-sm-1 text-right">下限</th>
                                <td class="">
                                    <input type="number" v-model="lowerLimit"  class="form-control " name="lowerLimit"
                                        placeholder="0" min="0" max="10000000" readonly style="width:90%;">
                                </td>

                            </tr>
</tbody>
                        </table>
                        <br/>
           <table class="table table-striped table-bordered" width="100%">
           <thead>
           <tr>
           <th style="width:25%" class="text-center">均数</th>
           <th class="text-center" style="width:50%">标准差</th>
           <th class="text-center" style="width:25%">例数</th>
           </tr>
           </thead>
           <tbody>
           <tr>
           <td class="text-center" data-name="meanValue">
           <input type="number" v-model="meanValue" class="form-control meanValue" name="meanValue"
           placeholder="0.00" min="0.00" step="0.01">
           </td>
           <td class="text-center" data-name="standardDeviation">
           <input type="number" v-model="standardDeviation" class="form-control standardDeviation"
           name="standardDeviation" placeholder="0.00" min="0.00" step="0.01">
           </td>
           <td class="text-center" data-name="cases">
           <input type="number" class="form-control" v-model="cases" name="cases" placeholder="0">
           </td>


           </tr>
           <tr>
           <th>
           <label><input type="checkbox" v-model="rangeTypeUp" style="vertical-align: middle;margin:0;">界定上限</label>
           </th>
           <td class="refer-calc-second">
           <span class="refer-calc-box red">

           <span class="refer-calc-depend avge" title="均数">
           {{meanValue}}
           </span>
           +
           <select class="refer-calc-pick-upper" v-model="timesUpper" name="timesUpper" title="极值">
           <option value="0">0</option>
           <option value="2">2</option>
           <option value="2.5">2.5</option>
           <option value="3">3</option>
           </select>
           *

           <span class="refer-calc-depend standard" title="标准差">{{standardDeviation}}
           </span>
           </span>
           *

           <span class="refer-calc-box">

           <input type="number" v-model="normalRangeUpper" class="form-control input-smaller inline refer-calc-selfUpper"
           name=normalRangeUpper title="浮动比例" max="200" min="0"
           placeholder="30" />%

           </span>
           </td>
           <td>
           <span class="refer-calc-result-upper" style="padding:5px 10px;" :style="calcRangeTypeUp!='-'?'background-color:gold':'background-color:gray;'">{{calcRangeTypeUp}}</span>
           </td>
           </tr>
           <tr>
           <th>
           <label><input type="checkbox" style="vertical-align: middle;margin:0;" v-model="rangeTypeDown">界定下限</label>
           </th>
           <td class="refer-calc-second">
           <span class="refer-calc-box red">
           <span class="refer-calc-depend avge" title="均数">
           {{meanValue}}
           </span>
           -
           <select class="refer-calc-pick-lower" v-model="timesLower" name="timesLower" title="极值">
           <option value="0">0</option>
           <option value="2">2</option>
           <option value="2.5">2.5</option>
           <option value="3">3</option>
           </select>
           *

           <span class="refer-calc-depend standard" title="标准差">{{standardDeviation}}
           </span>
           </span>
           *

           <span class="refer-calc-box">


           <input type="number"
           class="form-control input-smaller inline refer-calc-selfLower"
           name="normalRangeLower" v-model="normalRangeLower" title="浮动比例" max="200" min="0"
           placeholder="30" />%
           </span>
           </td>
           <td>

           <span class="refer-calc-result-lower" style="padding:5px 10px;" :style="calcRangeTypeDown!='-'?'background-color:gold':'background-color:gray;'">{{calcRangeTypeDown}}</span>
           </td>
           </tr>
           </tbody>
           <tfoot>
           <tr>
           <td class="text-center">启用</td>
           <td>
           <input type="checkbox" name="isCurrent" />
           <input type="text" hidden v-model="rangeType" name="rangeType"  />
           </td>
           <td></td>
           </tr>
           </tfoot>
           </table>
           </div>
           <div class="modal-footer">
           <button type="buton" class="btn btn-info calc-add-btn pull-left" @click="calcReferValue">计算参考值</button>
           <button type="button" @click="calcReferReset" class="btn red btn-outline calc-refer-reset"><i class="fa fa-rotate-left"></i>
           重置</button>
           <button type="button" @click="modalAddClose" class="btn dark btn-outline " data-dismiss="modal"><i class="fa fa-close"></i>
           关闭 </button>
           <button type="button" @click="saveAndSubmit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> 确定</button>
           </div>
           </div>

           </div>

           </div>
       `,
        props: ['allprogram', 'allinstitution', 'allnerve', "allpartinfo", 'allpointposition', "alltypename"],
        data() {
            return {
                doctorInfo: JSON.parse(sessionStorage.getItem('doctorInfo')),
                institutionNo: '',
                programId: '',
                nerveId: '',
                nerveName: '',
                partId: '',
                types: '',
                collectPointPositionId: '',
                stimPointPositionId: '',
                ageBegin: 0,
                ageEnd: 99,
                gender: 0,
                upperLimit: 100,
                lowerLimit: 0,
                meanValue: parseFloat(0.00),
                standardDeviation: parseFloat(0.00),
                cases: 0,
                rangeTypeUp: true,
                rangeTypeDown: true,
                timesUpper: parseFloat(0.00),
                timesLower: parseFloat(0.00),
                normalRangeUpper: 30,
                normalRangeLower: 30,
                isCurrent: 1,
                id:'',
            }
        },
        computed: {
            institutionId() {
                if (this.allinstitution.length > 0) {
                    let ret = this.allinstitution.find((item, index) => {
                        return item.institutionNo == this.doctorInfo.institutionNo;
                    })
                    this.institutionNo = ret.institutionNo;
                    return ret.id;
                } else {
                    return ''
                }

            },
            rangeType:{
                get(){
                    if (this.rangeTypeUp == true && this.rangeTypeDown == true) {
                        return 0
                    }
                    if (this.rangeTypeUp == true && this.rangeTypeDown == false) {
                        return 1
                    }
                    if (this.rangeTypeUp == false && this.rangeTypeDown == true) {
                        return 2
                    }
                    if (this.rangeTypeUp == false && this.rangeTypeDown == false) {
                        Shinez.tip('error', '上界或者下界不可都为false')
                        this.rangeTypeUp = true;
                        return 1
                    }
                },
                set(val){
                    switch(parseInt(val)){
                        case 0:this.rangeTypeUp=true;this.rangeTypeDown=true;break;
                        case 1:this.rangeTypeUp=true;this.rangeTypeDown=false;break;
                        case 2:this.rangeTypeUp=false;this.rangeTypeDown=true;break;
                    }
                }
            },
            type: {
                get() {
                    return this.types;
                },
                set(val) {
                    this.types = val;
                    if (val == 1 || val == 2) {
                        this.rangeTypeUp = false;
                        this.rangeTypeDown = true;
                    } else if ((val == 0 && this.programId == 5) || (val == 0 && this.programId == 1)) {
                        this.rangeTypeUp = true;
                        this.rangeTypeDown = false;
                    } else {
                        this.rangeTypeDown = true;
                        this.rangeTypeUp = true;
                    }
                }
            },
            calcRangeTypeUp() {
                if (this.rangeTypeUp == true) {
                    if (this.meanValue != 0 || this.standardDeviation != 0) {
                        let ret = (parseFloat(this.meanValue) + parseFloat(this.timesUpper) * parseFloat(this.standardDeviation)) * parseFloat(this.normalRangeUpper / 100)
                        return ret.toFixed(2)
                    } else {
                        return '-'
                    }
                }
                else {
                    return '-'
                }
            },
            calcRangeTypeDown() {
                if (this.rangeTypeDown == true) {
                    if (this.meanValue != 0 || this.standardDeviation != 0) {
                        let ret = (parseFloat(this.meanValue) - parseFloat(this.timesLower) * parseFloat(this.standardDeviation)) * parseFloat(this.normalRangeLower / 100)
                        return ret.toFixed(2)
                    } else {
                        return '-'
                    }
                } else {
                    return '-'
                }
            }
        },
        watch: {
            nerveId(val) {
                if (val != '') {
                    let ret = this.allnerve.find((item, index) => {
                        return item.id == val;
                    });
                    this.nerveName = ret.nerveNameZh
                }
            },

        },
        methods: {
            async calcReferValue() {
                this.isCurrent = $('input[name=isCurrent]').bootstrapSwitch('state') == true ? 1 : 0;
                let {
                    institutionNo, programId, nerveName, partId, type, collectPointPositionId, stimPointPositionId, ageBegin = 0,
                    ageEnd = 99,
                    gender = 0,
                    upperLimit = 100,
                    lowerLimit = parseFloat(0.00), timesUpper = 0,
                    timesLower = parseFloat(0.00),
                    normalRangeUpper = 0.3,
                    normalRangeLower = 0.3,
                    isCurrent = 1, rangeType
                } = {
                    institutionNo: this.institutionNo,
                    programId: this.programId,
                    nerveName: this.nerveName,
                    partId: this.partId,
                    type: this.type,
                    collectPointPositionId: this.collectPointPositionId,
                    stimPointPositionId: this.stimPointPositionId,
                    ageBegin: this.ageBegin,
                    ageEnd: this.ageEnd,
                    gender: this.gender,
                    upperLimit: this.upperLimit,
                    lowerLimit: this.lowerLimit,
                    timesUpper: parseFloat(this.timesUpper),
                    timesLower: parseFloat(this.timesLower),
                    normalRangeUpper: parseFloat(this.normalRangeUpper / 100),
                    normalRangeLower: parseFloat(this.normalRangeLower / 100),
                    isCurrent: this.isCurrent,
                    rangeType: this.rangeType
                }
                let data = {
                    institutionNo,
                    programId,
                    nerveName,
                    partId,
                    type,
                    collectPointPositionId,
                    stimPointPositionId,
                    ageBegin,
                    ageEnd,
                    gender,
                    upperLimit,
                    lowerLimit,
                    timesUpper,
                    timesLower,
                    normalRangeUpper,
                    normalRangeLower,
                    isCurrent,
                    rangeType
                }

                if (institutionNo !== '' && programId !== "" && nerveName !== "" && partId !== "" && type !== "") {

                    let ret = await Shinez.post('/ruler/reference/compute', data);
                    if (ret.code !== 0) {
                        Shinez.tip('error', `${ret.msg}`)
                    } else {
                        data.pageIndex = 1;
                        data.pageSize = 1;
                        try {
                            let result = await Shinez.get('/ruler/reference/', data)
                            if (result.code != 0) {
                                Shinez.tip('error', `${result.msg}`);
                            } else {
                                let curRet = result.data.page.list[0]
                                this.cases = curRet.cases;
                                this.meanValue = curRet.meanValue;
                                this.standardDeviation = curRet.standardDeviation;
                                this.id = curRet.id
                            }
                        } catch (err) {
                            Shinez.tip('error', '查询参考值时出错')
                        }


                    }
                } else {
                    Shinez.tip('error', "所有的*为必选项，不能为空,请检查后再计算")
                }

            },
            async saveAndSubmit() {
                this.isCurrent = $('input[name=isCurrent]').bootstrapSwitch('state') == true ? 1 : 0;
                let {
                    institutionNo,
                    programId,
                    nerveName,
                    partId,
                    type,
                    collectPointPositionId,
                    stimPointPositionId,
                    ageBegin = 0,
                    ageEnd = 99,
                    gender = 0,
                    upperLimit = 100,
                    lowerLimit = 0,
                    timesUpper = parseFloat(0.00),
                    timesLower = parseFloat(0.00),
                    normalRangeUpper = 0.3,
                    normalRangeLower = 0.3,
                    isCurrent = 1,
                    rangeType,
                    meanValue = parseFloat(0.00),
                    standardDeviation = parseFloat(0.00),
                    cases = 0
                } = {
                    institutionNo: this.institutionNo,
                    programId: this.programId,
                    nerveName: this.nerveName,
                    partId: this.partId,
                    type: this.type,
                    collectPointPositionId: this.collectPointPositionId,
                    stimPointPositionId: this.stimPointPositionId,
                    ageBegin: this.ageBegin,
                    ageEnd: this.ageEnd,
                    gender: this.gender,
                    upperLimit: this.upperLimit,
                    lowerLimit: this.lowerLimit,
                    timesUpper: parseFloat(this.timesUpper),
                    timesLower: parseFloat(this.timesLower),
                    normalRangeUpper: parseFloat(this.normalRangeUpper / 100),
                    normalRangeLower: parseFloat(this.normalRangeLower / 100),
                    isCurrent: this.isCurrent,
                    rangeType: this.rangeType,
                    meanValue: parseFloat(this.meanValue),
                    standardDeviation: parseFloat(this.standardDeviation),
                    cases: parseFloat(this.cases)
                }
                let data = {
                    institutionNo,
                    programId,
                    nerveName,
                    partId,
                    type,
                    collectPointPositionId,
                    stimPointPositionId,
                    ageBegin,
                    ageEnd,
                    gender,
                    upperLimit,
                    lowerLimit, timesUpper,
                    timesLower,
                    normalRangeUpper,
                    normalRangeLower,
                    isCurrent,
                    rangeType,
                    meanValue,
                    standardDeviation,
                    cases
                }
                if (this.id != '') {
                    data.id = this.id;
                    try {
                        let result = await Shinez.put('/ruler/reference/', data)
                        if (result.code != 0) {
                            Shinez.tip('error', `id:${result.msg}`);
                        } else {
                            $('#modal-add').modal('hide')
                            refer.getReferData()
                            this.calcReferReset()
                        }
                    } catch (err) {
                        Shinez.tip('error', '提交保存参考值出错')
                    }
                } else {
                    try {
                        let ret = await Shinez.post('/ruler/reference/', data)
                        if (ret.code != 0) {
                            Shinez.tip('error', `${ret.msg}`);
                        } else {
                            $('#modal-add').modal('hide')
                            refer.getReferData()
                            this.calcReferReset()
                        }
                    } catch (err) {
                        Shinez.tip('error', '提交保存参考值出错')
                    }

                }
            },
            calcReferReset() {
                this.institutionNo = this.institutionNo
                this.programId = ''
                this.nerveId = ''
                this.nerveName = ''
                this.partId = ''
                this.type = ''
                this.collectPointPositionId = ''
                this.stimPointPositionId = ''
                this.ageBegin = 0
                this.ageEnd = 99
                this.gender = 0
                this.upperLimit = 100
                this.lowerLimit = 0
                this.timesUpper = parseFloat(0.00)
                this.timesLower = parseFloat(0.00)
                this.normalRangeUpper = 30
                this.normalRangeLower = 30
                this.isCurrent = 1
                this.rangeTypeUp = true
                this.rangeTypeDown = true
                this.meanValue = parseFloat(0.00)
                this.standardDeviation = parseFloat(0.00)
                this.cases = 0;
                $('input[name=isCurrent]').bootstrapSwitch('state', this.isCurrent)
            },
            getCheckboxVal() {
                $('input[name=isCurrent]').bootstrapSwitch('state', this.isCurrent);
            },
            modalAddClose() {
                this.calcReferReset()
            },
            //编辑当前项
            editCurrentItemData(val) {
                if (val != '') {
                    try{
                        let result=val;
                        this.institutionNo = result.institutionNo;
                        this.programId = result.programId;
                        this.nerveName = result.nerveName;
                        if(this.nerveName!=''){
                            this.nerveId=this.allnerve.find((item,index)=>{
                                return item.nerveNameZh.includes(this.nerveName);
                            }).id;
                            if(this.nerveId==undefined){
                                this.nerveId='';
                            }

                        }else{
                            this.nerveId=''
                        }
                        this.partId = result.partId;
                        this.type = result.type;
                        this.collectPointPositionId = result.collectPointPositionId||'';
                        this.stimPointPositionId = result.stimPointPositionId||'';
                        this.ageBegin = result.ageBegin;
                        this.ageEnd = result.ageEnd;
                        this.gender = result.gender||'0';
                        this.upperLimit = result.upperLimit;
                        this.lowerLimit = result.lowerLimit;
                        this.timesUpper = parseFloat(result.timesUpper)
                        this.timesLower = parseFloat(result.timesLower)
                        this.normalRangeUpper = parseFloat(result.normalRangeUpper)*100;
                        this.normalRangeLower = parseFloat(result.normalRangeLower)*100;
                        this.isCurrent = result.isCurrent;
                        this.rangeType=result.rangeType;
                        this.meanValue = parseFloat(result.meanValue)
                        this.standardDeviation = parseFloat(result.standardDeviation)
                        this.cases = parseFloat(result.cases);
                        this.id=result.id;
                        $('input[name=isCurrent]').bootstrapSwitch('state', this.isCurrent);
                        }catch(err){
                        Shinez.tip('error',`获取当前的数据失败`)
                    }

                }
            }
        },
        mounted() {
            this.getCheckboxVal()
            connect.$on('editCurrent',(arg)=>{
                this.editCurrentItemData(arg)
            })
        }
    });


    Vue.filter('turn2InstitutionName', (val) => {
        let ret = refer.allInstitution.find((item, index) => {
            return item.institutionNo == val;
        })

        if (ret) {
            return ret.institutionName || '-'
        } else {
            return '-'
        }
    });
    Vue.filter('turn2ProgramName', (val) => {
        let ret = refer.allProgram.find((item, index) => {
            return item.id == val;
        })

        if (ret) {
            return ret.description
        } else {
            return '-'
        }
    });
    Vue.filter('turn2Word', (val) => {
        switch (parseInt(val)) {
            case 0:
                return '-'
            case 1:
                return '男'
            case 2:
                return '女'
            default:
                return '-'

        }
    });
    Vue.filter('turn2TypeName', (val) => {
        let ret = refer.allTypeName.find((item, index) => {
            return item.id == val;
        })

        if (ret) {
            return ret.typeName
        } else {
            return '-'
        }
    });
    Vue.filter('turn2CurrentWord', (val) => {
        switch (val) {
            case 0:
                return '<span class="work-off">禁用</span>';
            case 1:
                return '<span class="work-on">启用</span>';
            default :
                return '-';
        }
    });

    let refer = new Vue({
        el: '#refer',
        data() {
            return {
                programId: '',
                stimPointPositionId: '',
                collectPointPositionId: '',
                type: '',
                nerveName: '',
                allProgram: [],
                allInstitution: [],
                allNerve: [],
                allPartInfo: [],
                allPointPosition: [],
                allTypeName: [{id: 0, typeName: '潜伏期'}, {id: 1, typeName: '波幅'}, {id: 2, typeName: '速度'}],
                pageIndex: 1,
                referList: [],
                total: 0,
                pages: 0,
                navigatePages: 8,
                size: 10,
                id: '',
                itemData:null,
            }
        },
        computed: {
            pageSize: {
                get() {
                    return this.size;
                },
                set(val) {
                    this.size = val;
                    let {programId = '', stimPointPositionId = '', collectPointPositionId = '', type = '', nerveName = ''} = {
                        programId: this.programId,
                        stimPointPositionId: this.stimPointPositionId,
                        collectPointPositionId: this.collectPointPositionId,
                        type: this.type,
                        nerveName: this.nerveName
                    }
                    this.getReferData({programId, stimPointPositionId, collectPointPositionId, type, nerveName})
                }
            },

        },
        watch: {
            referList() {
                this.$nextTick(() => {
                    this.buildPaginator()
                })
            }
        },
        methods: {
            async getDataByUrl(url) {
                return await Shinez.get(url);

            },
            //所有的检查项目 所有医疗机构 获取所有的nerve 所有肢体部位 获取所有记录点和刺激点
            async getAllBasicData() {
                try {
                    let [ret1, ret2, ret3, ret4, ret5] = await Promise.all([this.getDataByUrl('/basic/allProgram'), this.getDataByUrl('/basic/allInstitution'), this.getDataByUrl('/basic/allNerve'), this.getDataByUrl('/basic/allPartInfo'), this.getDataByUrl('/basic/allPointPosition')]);

                    this.allProgram = ret1;
                    this.allInstitution = ret2;
                    this.allNerve = ret3;
                    this.allPartInfo = ret4;
                    this.allPointPosition = ret5;
                } catch (err) {
                    Shinez.tip('error', `获取基础数据失败`)
                }
            },
            async getReferData({...args} = {}) {
                args.pageIndex = this.pageIndex;
                args.pageSize = this.pageSize;
                try {
                    let ret = await Shinez.get('/ruler/reference/', args);
                    if (ret.code != 0) {
                        Shinez.tip('error', `${ret.msg}`);
                    } else {
                        this.referList = ret.data.page.list;
                        this.pages = ret.data.page.pages;
                        this.total = ret.data.page.total;
                        this.navigatePages = ret.data.page.navigatePages
                    }
                } catch (err) {
                    Shinez.tip('error', `查询参考值失败`);
                }
            },
            //加载分页
            buildPaginator() {
                if (this.pages) {
                    $('#pageLimit').show()
                    $('#pageLimit').bootstrapPaginator({
                        bootstrapMajorVersion: 3,
                        currentPage: this.pageIndex,//设置当前页码
                        numberOfPages: this.navigatePages,
                        totalPages: this.pages,//设置总页数.
                        itemTexts: (typ, page, current) => {
                            switch (typ) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "尾页";
                                case "page":
                                    return page;
                            }
                        },
                        onPageClicked: (event, originalEvent, typ, page) => {
                            this.pageIndex = page
                            let {programId = '', stimPointPositionId = '', collectPointPositionId = '', type = '', nerveName = ''} = {
                                programId: this.programId,
                                stimPointPositionId: this.stimPointPositionId,
                                collectPointPositionId: this.collectPointPositionId,
                                type: this.type,
                                nerveName: this.nerveName
                            }
                            this.getReferData({programId, stimPointPositionId, collectPointPositionId, type, nerveName})
                        }
                    });
                } else {
                    $('#pageLimit').hide()
                }
            },
            //查询
            searchByCondition() {
                let {programId = '', stimPointPositionId = '', collectPointPositionId = '', type = '', nerveName = ''} = {
                    programId: this.programId,
                    stimPointPositionId: this.stimPointPositionId,
                    collectPointPositionId: this.collectPointPositionId,
                    type: this.type,
                    nerveName: this.nerveName
                }
                this.getReferData({programId, stimPointPositionId, collectPointPositionId, type, nerveName})
            },
            //编辑当前项
            editCurrentItem(item) {
                connect.$emit('editCurrent',item)
                $('#modal-add').modal('show')
            },
            //删除当前项
            removeCurrentItem(id) {
                this.id = id;
                $('#delModal').modal('show')
            }

        },
        mounted() {
            this.getAllBasicData()
            this.getReferData()
        }


    })

</script>